<link rel="stylesheet" href="~/css/styletovarilist.css">
@model ShopMagazin.Models.PodCatG
@{
    ViewData["Title"] = Model.podcategs.NamePodCategori;
}
@addTagHelper *, ShopMagazin
<main class="content-main">
    <div class="con-man">
        <div class="main-div-left">
            <nav class="breadcrumbs">
                <span class="breadcrumbs__items" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                    <a href="/" class="breadcrumbs__item">Главная</a>
                    <a asp-action="Podcategorii" asp-controller="Categorii" asp-route-id="@Model.categMain.Id" class="breadcrumbs__item" title="Бытовая техника для кухни" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        @Model.categMain.NameCategori
                    </a>
                    <a class="breadcrumbs__item" href="" title="Бытовая техника для кухни" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        @Model.podcategs.NamePodCategori
                    </a>
                </span>
                <a href="javascript:history.back()" class="breadcrumbs__back btn btn_transparent">
                    🠔Назад
                </a>
            </nav>
            <h1 class="header-name-podcateg">[@Model.podcategs.NameCategori] @Model.podcategs.NamePodCategori</h1>
                <div class="card catalog catalog_list">
                    <div class="catalog__header">
                        <div>Найдено товаров: <b>@Model.KolTovarov</b></div>
                    </div>
                    <div class="catalog-list">
                        @foreach (var item in Model.TovariList)
                        {
                            <div class="catalog-list__row">
                                <div class="catalog-list__col catalog-list__col_image">
                                    <a asp-action="Tovar" asp-controller="Categorii" asp-route-id="@item.Id">
                                        <img src="@Url.Action("GetImage", new { id = item.ImageId })" alt="product image" style=" max-width: 120px; max-height: 220px;">
                                        <span class="catalog-list__col-budges"></span>
                                    </a>
                                </div>

                                <div class="catalog-list__col catalog-list__col_info">
                                    <h2 class="catalog-list__name">
                                        <a asp-action="Tovar" asp-controller="Categorii" asp-route-id="@item.Id">
                                            @item.NameTovar <b>@item.ModelTovar</b>
                                        </a>
                                    </h2>
                                    <div class="catalog-list__vendor-code">
                                        <div>Артикул: @item.articul</div>
                                    </div>
                                    <div class="catalog-list__vendor-code">
                                        <div>Страна-производитель: @item.StranaProizvoditel</div>
                                    </div>
                                    <div class="catalog-list__vendor-code">
                                        <div><b>@item.NamePodCategori</b></div>
                                    </div>
                                </div>
                                <div class="catalog-list__col catalog-list__col_actions">
                                    <div class="catalog-list__price">
                                        <div class="price">
                                            <span class="title">Цена:</span> @item.Cena<span class="rubble">₽</span>
                                        </div>
                                    </div>
                                    <div>
                                        @if (User.Identity.IsAuthenticated == false)
                                        {
                                            <a asp-controller="Home" asp-action="AuthenticateUser" style="height: auto; padding: 7px;" class="lklk btn_fullwidth btn_primary catalog-list__action">В корзину</a>
                                        }
                                        else
                                        {
                                            if (item.HasTovarInCart == false)
                                            {
                                            <a asp-controller="Home" asp-route-id_tovara="@item.Id" asp-action="AddToCart" style="height: auto; padding: 7px;" class="btn_fullwidth btn_primary catalog-list__action">В корзину</a>
                                            }
                                            else if (item.HasTovarInCart == true)
                                            {
                                            <a asp-controller="Categorii" asp-action="Korzina" style="height: auto; padding: 7px; background-color: #44c523; border-color: #44c523; color: #fff;" class="btn_fullwidth btn_primary catalog-list__action">В корзине</a>
                                            }
                                        }
                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                </div>
                <page-link page-model="Model.PageViewModel" page-action="TovariPodCategorii"
                           page-url-ZhachPoiska="@(Model.ZhachPoiska)"
                           page-url-ZnachPoiskaCateg="@(Model.ZnachPoiskaCateg)"></page-link>
            <p class="info-in-main">
                Современный дом сложно представить без бытовой техники. Она дарит удобство и комфорт и значительно облегчает нашу жизнь. Однако, чтобы приобрести то, что нужно, нам приходится тратить время, а его, подчас, не хватает. Интернет-магазин
                бытовой техники Vasko.ru поможет вам сделать покупки быстрыми и приятными. Ведь чтобы купить стиральную машину или пылесос вам достаточно просто сделать заказ через наш онлайн магазин!
            </p>
        </div>
        <div class="notmain-div-right">
            <div class="right-image">
                <a href="" class="add-img-ssilka">
                    <img src="images/addss.png" alt="" class="img-adds">
                </a>
            </div>
            <div class="block-right">
                <div class="header-block-right">
                    Услуги
                </div>
                <div class="info-block-right">
                    <ul class="inblr">
                        <li class="inbr-item">
                            <a href="#" class="ssilka-inbr-item">
                                <svg class="icon-imgg" viewBox="0 0 27 27" style="color:#c62306;">
                                    <path d="M8.437 17.413c-1.31 0-2.372 1.026-2.372 2.293C6.065 20.974 7.127 22 8.437 22c1.311 0 2.373-1.026 2.373-2.294 0-1.267-1.062-2.293-2.373-2.293zm0 3.29c-.57 0-1.03-.446-1.03-.997 0-.55.46-.997 1.03-.997.57 0 1.032.446 1.032.997 0 .551-.462.997-1.032.997zM20.947 17.413c-1.31 0-2.372 1.026-2.372 2.293 0 1.268 1.062 2.294 2.372 2.294 1.311 0 2.373-1.026 2.373-2.294 0-1.267-1.062-2.293-2.373-2.293zm0 3.29c-.57 0-1.03-.446-1.03-.997 0-.55.46-.997 1.03-.997.57 0 1.032.446 1.032.997 0 .551-.462.997-1.032.997zM11.106 10.366a.596.596 0 0 1-.604.584h-8.34a.596.596 0 0 1-.604-.584v-.351c0-.321.272-.584.604-.584h8.34c.332 0 .604.263.604.584v.35z"></path>
                                    <path d="M25.596 13.787c-.87-.22-1.368-.357-1.71-.994l-1.142-2.236c-.341-.638-1.229-1.16-1.971-1.16H19.21s-.21.004-.21-.2V7.322C19 6.595 18.575 6 17.67 6H4.939c-1.296 0-1.911.595-1.911 1.322v1.175s0 .35.35.35h7.124c.667 0 1.209.524 1.209 1.168v.35c0 .645-.542 1.17-1.209 1.17H3.378s-.35-.029-.35.336v.404c0 .322.455.322.455.322H8.28c.667 0 1.209.524 1.209 1.168v.35c0 .645-.542 1.17-1.209 1.17H3.56s-.531-.01-.531.399v2.84c0 .726.615 1.321 1.367 1.321h.755c.171 0 .196-.092.196-.138 0-1.648 1.387-2.989 3.092-2.989 1.704 0 3.091 1.34 3.091 2.989 0 .046-.014.138.117.138h6.094c.12 0 .116-.098.116-.138 0-1.648 1.387-2.989 3.091-2.989 1.705 0 3.091 1.34 3.091 2.989 0 .046 0 .138.075.138h1.536c.743 0 1.351-.587 1.351-1.306v-2.481c0-2.09-.682-2.09-1.404-2.271zm-2.57-.117H19.18c-.159 0-.18-.15-.18-.15v-3.096s-.009-.119.195-.119h1.097c.661 0 1.451.464 1.755 1.032l1.016 1.99c.043.08.089.15.138.214.036.047-.025.13-.176.13z"></path>
                                    <path d="M8.883 14.116a.596.596 0 0 1-.604.584H.604A.596.596 0 0 1 0 14.116v-.35c0-.322.272-.585.604-.585H8.28c.333 0 .604.263.604.584v.35z"></path>
                                </svg> VIP-доставка
                            </a>
                        </li>
                        <li class="inbr-item">
                            <a href="#" class="ssilka-inbr-item">
                                <svg class="icon-imgg" viewBox="0 0 27 27" style="color:#c62306;">
                                    <path d="M8.437 17.413c-1.31 0-2.372 1.026-2.372 2.293C6.065 20.974 7.127 22 8.437 22c1.311 0 2.373-1.026 2.373-2.294 0-1.267-1.062-2.293-2.373-2.293zm0 3.29c-.57 0-1.03-.446-1.03-.997 0-.55.46-.997 1.03-.997.57 0 1.032.446 1.032.997 0 .551-.462.997-1.032.997zM20.947 17.413c-1.31 0-2.372 1.026-2.372 2.293 0 1.268 1.062 2.294 2.372 2.294 1.311 0 2.373-1.026 2.373-2.294 0-1.267-1.062-2.293-2.373-2.293zm0 3.29c-.57 0-1.03-.446-1.03-.997 0-.55.46-.997 1.03-.997.57 0 1.032.446 1.032.997 0 .551-.462.997-1.032.997zM11.106 10.366a.596.596 0 0 1-.604.584h-8.34a.596.596 0 0 1-.604-.584v-.351c0-.321.272-.584.604-.584h8.34c.332 0 .604.263.604.584v.35z"></path>
                                    <path d="M25.596 13.787c-.87-.22-1.368-.357-1.71-.994l-1.142-2.236c-.341-.638-1.229-1.16-1.971-1.16H19.21s-.21.004-.21-.2V7.322C19 6.595 18.575 6 17.67 6H4.939c-1.296 0-1.911.595-1.911 1.322v1.175s0 .35.35.35h7.124c.667 0 1.209.524 1.209 1.168v.35c0 .645-.542 1.17-1.209 1.17H3.378s-.35-.029-.35.336v.404c0 .322.455.322.455.322H8.28c.667 0 1.209.524 1.209 1.168v.35c0 .645-.542 1.17-1.209 1.17H3.56s-.531-.01-.531.399v2.84c0 .726.615 1.321 1.367 1.321h.755c.171 0 .196-.092.196-.138 0-1.648 1.387-2.989 3.092-2.989 1.704 0 3.091 1.34 3.091 2.989 0 .046-.014.138.117.138h6.094c.12 0 .116-.098.116-.138 0-1.648 1.387-2.989 3.091-2.989 1.705 0 3.091 1.34 3.091 2.989 0 .046 0 .138.075.138h1.536c.743 0 1.351-.587 1.351-1.306v-2.481c0-2.09-.682-2.09-1.404-2.271zm-2.57-.117H19.18c-.159 0-.18-.15-.18-.15v-3.096s-.009-.119.195-.119h1.097c.661 0 1.451.464 1.755 1.032l1.016 1.99c.043.08.089.15.138.214.036.047-.025.13-.176.13z"></path>
                                    <path d="M8.883 14.116a.596.596 0 0 1-.604.584H.604A.596.596 0 0 1 0 14.116v-.35c0-.322.272-.585.604-.585H8.28c.333 0 .604.263.604.584v.35z"></path>
                                </svg> VIP-доставка
                            </a>
                        </li>
                        <li class="inbr-item">
                            <a href="#" class="ssilka-inbr-item">
                                <svg class="icon-imgg" viewBox="0 0 27 27" style="color:#c62306;">
                                    <path d="M8.437 17.413c-1.31 0-2.372 1.026-2.372 2.293C6.065 20.974 7.127 22 8.437 22c1.311 0 2.373-1.026 2.373-2.294 0-1.267-1.062-2.293-2.373-2.293zm0 3.29c-.57 0-1.03-.446-1.03-.997 0-.55.46-.997 1.03-.997.57 0 1.032.446 1.032.997 0 .551-.462.997-1.032.997zM20.947 17.413c-1.31 0-2.372 1.026-2.372 2.293 0 1.268 1.062 2.294 2.372 2.294 1.311 0 2.373-1.026 2.373-2.294 0-1.267-1.062-2.293-2.373-2.293zm0 3.29c-.57 0-1.03-.446-1.03-.997 0-.55.46-.997 1.03-.997.57 0 1.032.446 1.032.997 0 .551-.462.997-1.032.997zM11.106 10.366a.596.596 0 0 1-.604.584h-8.34a.596.596 0 0 1-.604-.584v-.351c0-.321.272-.584.604-.584h8.34c.332 0 .604.263.604.584v.35z"></path>
                                    <path d="M25.596 13.787c-.87-.22-1.368-.357-1.71-.994l-1.142-2.236c-.341-.638-1.229-1.16-1.971-1.16H19.21s-.21.004-.21-.2V7.322C19 6.595 18.575 6 17.67 6H4.939c-1.296 0-1.911.595-1.911 1.322v1.175s0 .35.35.35h7.124c.667 0 1.209.524 1.209 1.168v.35c0 .645-.542 1.17-1.209 1.17H3.378s-.35-.029-.35.336v.404c0 .322.455.322.455.322H8.28c.667 0 1.209.524 1.209 1.168v.35c0 .645-.542 1.17-1.209 1.17H3.56s-.531-.01-.531.399v2.84c0 .726.615 1.321 1.367 1.321h.755c.171 0 .196-.092.196-.138 0-1.648 1.387-2.989 3.092-2.989 1.704 0 3.091 1.34 3.091 2.989 0 .046-.014.138.117.138h6.094c.12 0 .116-.098.116-.138 0-1.648 1.387-2.989 3.091-2.989 1.705 0 3.091 1.34 3.091 2.989 0 .046 0 .138.075.138h1.536c.743 0 1.351-.587 1.351-1.306v-2.481c0-2.09-.682-2.09-1.404-2.271zm-2.57-.117H19.18c-.159 0-.18-.15-.18-.15v-3.096s-.009-.119.195-.119h1.097c.661 0 1.451.464 1.755 1.032l1.016 1.99c.043.08.089.15.138.214.036.047-.025.13-.176.13z"></path>
                                    <path d="M8.883 14.116a.596.596 0 0 1-.604.584H.604A.596.596 0 0 1 0 14.116v-.35c0-.322.272-.585.604-.585H8.28c.333 0 .604.263.604.584v.35z"></path>
                                </svg> VIP-доставка
                            </a>
                        </li>
                        <li class="inbr-item">
                            <a href="#" class="ssilka-inbr-item">
                                <svg class="icon-imgg" viewBox="0 0 27 27" style="color:#c62306;">
                                    <path d="M8.437 17.413c-1.31 0-2.372 1.026-2.372 2.293C6.065 20.974 7.127 22 8.437 22c1.311 0 2.373-1.026 2.373-2.294 0-1.267-1.062-2.293-2.373-2.293zm0 3.29c-.57 0-1.03-.446-1.03-.997 0-.55.46-.997 1.03-.997.57 0 1.032.446 1.032.997 0 .551-.462.997-1.032.997zM20.947 17.413c-1.31 0-2.372 1.026-2.372 2.293 0 1.268 1.062 2.294 2.372 2.294 1.311 0 2.373-1.026 2.373-2.294 0-1.267-1.062-2.293-2.373-2.293zm0 3.29c-.57 0-1.03-.446-1.03-.997 0-.55.46-.997 1.03-.997.57 0 1.032.446 1.032.997 0 .551-.462.997-1.032.997zM11.106 10.366a.596.596 0 0 1-.604.584h-8.34a.596.596 0 0 1-.604-.584v-.351c0-.321.272-.584.604-.584h8.34c.332 0 .604.263.604.584v.35z"></path>
                                    <path d="M25.596 13.787c-.87-.22-1.368-.357-1.71-.994l-1.142-2.236c-.341-.638-1.229-1.16-1.971-1.16H19.21s-.21.004-.21-.2V7.322C19 6.595 18.575 6 17.67 6H4.939c-1.296 0-1.911.595-1.911 1.322v1.175s0 .35.35.35h7.124c.667 0 1.209.524 1.209 1.168v.35c0 .645-.542 1.17-1.209 1.17H3.378s-.35-.029-.35.336v.404c0 .322.455.322.455.322H8.28c.667 0 1.209.524 1.209 1.168v.35c0 .645-.542 1.17-1.209 1.17H3.56s-.531-.01-.531.399v2.84c0 .726.615 1.321 1.367 1.321h.755c.171 0 .196-.092.196-.138 0-1.648 1.387-2.989 3.092-2.989 1.704 0 3.091 1.34 3.091 2.989 0 .046-.014.138.117.138h6.094c.12 0 .116-.098.116-.138 0-1.648 1.387-2.989 3.091-2.989 1.705 0 3.091 1.34 3.091 2.989 0 .046 0 .138.075.138h1.536c.743 0 1.351-.587 1.351-1.306v-2.481c0-2.09-.682-2.09-1.404-2.271zm-2.57-.117H19.18c-.159 0-.18-.15-.18-.15v-3.096s-.009-.119.195-.119h1.097c.661 0 1.451.464 1.755 1.032l1.016 1.99c.043.08.089.15.138.214.036.047-.025.13-.176.13z"></path>
                                    <path d="M8.883 14.116a.596.596 0 0 1-.604.584H.604A.596.596 0 0 1 0 14.116v-.35c0-.322.272-.585.604-.585H8.28c.333 0 .604.263.604.584v.35z"></path>
                                </svg> VIP-доставка
                            </a>
                        </li>
                        <li class="inbr-item">
                            <a href="#" class="ssilka-inbr-item">
                                <svg class="icon-imgg" viewBox="0 0 27 27" style="color:#c62306;">
                                    <path d="M8.437 17.413c-1.31 0-2.372 1.026-2.372 2.293C6.065 20.974 7.127 22 8.437 22c1.311 0 2.373-1.026 2.373-2.294 0-1.267-1.062-2.293-2.373-2.293zm0 3.29c-.57 0-1.03-.446-1.03-.997 0-.55.46-.997 1.03-.997.57 0 1.032.446 1.032.997 0 .551-.462.997-1.032.997zM20.947 17.413c-1.31 0-2.372 1.026-2.372 2.293 0 1.268 1.062 2.294 2.372 2.294 1.311 0 2.373-1.026 2.373-2.294 0-1.267-1.062-2.293-2.373-2.293zm0 3.29c-.57 0-1.03-.446-1.03-.997 0-.55.46-.997 1.03-.997.57 0 1.032.446 1.032.997 0 .551-.462.997-1.032.997zM11.106 10.366a.596.596 0 0 1-.604.584h-8.34a.596.596 0 0 1-.604-.584v-.351c0-.321.272-.584.604-.584h8.34c.332 0 .604.263.604.584v.35z"></path>
                                    <path d="M25.596 13.787c-.87-.22-1.368-.357-1.71-.994l-1.142-2.236c-.341-.638-1.229-1.16-1.971-1.16H19.21s-.21.004-.21-.2V7.322C19 6.595 18.575 6 17.67 6H4.939c-1.296 0-1.911.595-1.911 1.322v1.175s0 .35.35.35h7.124c.667 0 1.209.524 1.209 1.168v.35c0 .645-.542 1.17-1.209 1.17H3.378s-.35-.029-.35.336v.404c0 .322.455.322.455.322H8.28c.667 0 1.209.524 1.209 1.168v.35c0 .645-.542 1.17-1.209 1.17H3.56s-.531-.01-.531.399v2.84c0 .726.615 1.321 1.367 1.321h.755c.171 0 .196-.092.196-.138 0-1.648 1.387-2.989 3.092-2.989 1.704 0 3.091 1.34 3.091 2.989 0 .046-.014.138.117.138h6.094c.12 0 .116-.098.116-.138 0-1.648 1.387-2.989 3.091-2.989 1.705 0 3.091 1.34 3.091 2.989 0 .046 0 .138.075.138h1.536c.743 0 1.351-.587 1.351-1.306v-2.481c0-2.09-.682-2.09-1.404-2.271zm-2.57-.117H19.18c-.159 0-.18-.15-.18-.15v-3.096s-.009-.119.195-.119h1.097c.661 0 1.451.464 1.755 1.032l1.016 1.99c.043.08.089.15.138.214.036.047-.025.13-.176.13z"></path>
                                    <path d="M8.883 14.116a.596.596 0 0 1-.604.584H.604A.596.596 0 0 1 0 14.116v-.35c0-.322.272-.585.604-.585H8.28c.333 0 .604.263.604.584v.35z"></path>
                                </svg> VIP-доставка
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="work-right">
                    <a href="#" class="ssilka-work">
                        <img src="images/work.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

